body{
    background-color: red;
    border: 50px solid white;
}

#container{
    background-color: red;
    width: 700px;
    margin: auto;
    
}


h1{
    color: yellow;
    
}

h2{
    color: yellow;
    
}



img{
    padding: 120px;
    

}

button{
    color: black;
    background-color: yellow;
    padding: 40px;
    
  
}

#text{
    padding-right:50px;
    padding-left:50px;
}

#myTekst{
    color: lightblue;
}

